/* Navbar */
.nav {
    display: flex;
}

.nav .nav-item {
    /* display: block; */
}

.nav .nav-item + .nav-item {
    margin: 0 0 0 2rem;
}

/* Variables section */
--nav-item-margin: 0 0 0 2rem;

